<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('../layouts/head') %> <!-- パスを修正 -->
</head>
<body>
    <%- include('../layouts/header') %> <!-- パスを修正 -->
    <div class="container">
        <%- body %> <!-- 各ビューの内容がここに挿入されます -->
    </div>
    <%- include('../layouts/footer') %> <!-- パスを修正 -->
</body>
</html>

