<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - dSheet</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- フォント -->
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700;900&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <style>
/* * {border:1px solid #888} */
        body {
            font-family: 'M PLUS 1p', 'Montserrat', sans-serif;
            background-color: #f8f9fa;
        }

        a {
            text-decoration: none;
        }

        .header {
            background-color: #221e74;
            color: #fff;
            display: flex;
            align-items: center;
            padding: 0 1rem;
            min-height: 50px;
            z-index: 1050;
            position: relative;
        }

        .header .app-name {
            font-weight: 900;
            font-size: 1.25rem;
            margin-left: 0.5rem;
            color: #fff;
        }

        .drawer-button {
            font-size: 1.3rem;
            background-color: #006ba7;
            color: #fff;
            border: none;
        }

        /* ドロワーメニューのスタイル */
        #drawerMenu {
            position: fixed;
            top: 50px; /* ヘッダーの高さと同じ位置に設定 */
            left: 0;
            width: auto; /* 幅を自動調整 */
            height: auto; /* 高さを自動調整 */
            background-color: #006ba7;
            color: #fff;
            display: none; /* 初期状態は非表示 */
            z-index: 1040;
            padding-top: 10px;
        }

        #drawerMenu .nav-link {
            color: #fff;
            padding: 0.5rem 1rem;
            display: block;
        }

        #drawerMenu .nav-link:active {
            background-color: #3399cc; /* 少し明るく、低彩度の色に変更 */
        }
    </style>
</head>
