<div class="container">
    <h1 class="headline">管理者ページ</h1>

    <div class="mt-4">
        <h2>データベース管理</h2>

        <ul>
            <!-- 案件DB -->
            <li>
                <h3>案件DB 
                    <small>
                        <a href="/admin/job/new">新規</a> | 
                        <a href="/admin/job/delete">削除</a>
                    </small>
                </h3>
            </li>

            <!-- 機器DB -->
            <li>
                <h3>機器DB 
                    <small>
                        <a href="/admin/device/new">新規</a> | 
                        <a href="/admin/device/delete">削除</a>
                    </small>
                </h3>
            </li>

            <!-- 作業DB -->
            <li>
                <h3>作業DB 
                    <small>
                        <a href="/admin/kitting/new">新規</a> | 
                        <a href="/admin/kitting/delete">削除</a>
                    </small>
                </h3>
            </li>

            <!-- スタッフDB -->
            <li>
                <h3>スタッフDB 
                    <small>
                        <a href="/admin/staff/new">新規</a> | 
                        <a href="/admin/staff/delete">削除</a>
                    </small>
                </h3>
            </li>

            <!-- ログDB -->
            <li>
                <h3>ログDB 
                    <small>
                        <a href="/admin/systemlog/new">新規</a> | 
                        <a href="/admin/systemlog/delete">削除</a>
                    </small>
                </h3>
            </li>

            <!-- シートDB -->
            <li>
                <h3>シートDB 
                    <small>
                        <a href="/admin/sheet/new">新規</a> | 
                        <a href="/admin/sheet/delete">削除</a>
                    </small>
                </h3>
            </li>
        </ul>
    </div>

        <!-- ステータス -->
        <h2 class="mb-0">システムステータス</h2>
       <h3 class="text-xl ms-4 mt-0"><a href="/admin/status/system">システムステータス</a></h3>
        <h2 class="mb-0">ソースコード</h2>
        <h3 class="text-xl ms-4 mt-0"><a href="/admin/src">ソースコード</a></h3>
</div>
