<h1><%= title %></h1>

<form action="/manager/device/<%= dbName_device %>/device_import" method="POST" enctype="multipart/form-data">
    <label for="csvfile">CSVファイルを選択してください:</label>
    <input type="file" id="csvfile" name="csvfile" accept=".csv" required>
    <button type="submit">アップロード</button>
</form>
