<h1><%= title %></h1>

<form action="/manager/device/<%= collection %>/import" method="POST" enctype="multipart/form-data">
    <label for="csvFile">CSVファイルを選択:</label>
    <input type="file" name="csvFile" id="csvFile" accept=".csv" required />
    <button type="submit">アップロード</button>
</form>
