<div class="container">
	<h2>コレクション一覧</h2>
	<% if (collectionNames.length > 0) { %>
		<ul class="list-group">
			<% collectionNames.forEach(name => { %>
				<li class="list-group-item">
					<a href="/manager/<%= db %>/view/<%= name %>"><%= name %></a>
				</li>
			<% }); %>
		</ul>
	<% } else { %>
		<p>コレクションがありません。</p>
	<% } %>
</div>
