<h1><%= title %></h1>

<div class="container">
    <ul>
        <% if (collectionNames && collectionNames.length > 0) { %>
            <% collectionNames.forEach(collection => { %>
                <li><%= collection %></li>
            <% }) %>
        <% } else { %>
            <p>コレクションが存在しません。</p>
        <% } %>
    </ul>
    <a href="/manager" class="btn btn-secondary">戻る</a>
</div>
