<div class="container">

    <h1 class="headline">管理者ページ</h1>

    <h2 class="d-flex align-items-center">
        案件一覧
        <a href="/manager/job/new" class="bi bi-plus-circle-fill ms-3 fs-2" style="color: #0d6efe;"></a>
    </h2>
    <ul class="list-group list-group-flush ms-3 fs-3">
        <% jobs.forEach(job => { %>
            <li class="list-group-item">
                <a href="/manager/job/<%= job._id %>/info"><%= job.案件名 %></a>
            </li>
        <% }) %>
    </ul>

</div>

