<div class="container">
    <h1>監督者ページ</h1>

    <h2>案件一覧</h2>
    <ul>
        <% jobs.forEach(job => { %>
            <li>
                <a href="/manager/job/<%= job._id %>/edit"><%= job.案件名 %></a>
            </li>
        <% }) %>
    </ul>

</div>

