<div class="container">
    <h1>新規案件作成<a href="/admin/" class="bi bi-arrow-left-circle-fill ms-2 fs-2" style="color: #0d6efe;"></a></h1>
    <form action="/manager/job/new" method="post">
        <div class="mb-3">
            <label for="案件名" class="form-label">案件名</label>
            <input type="text" id="案件名" name="案件名" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="スタッフ" class="form-label">スタッフ</label>
            <select id="スタッフ" name="スタッフ" class="form-select" required>
                <% staffCollections.forEach(collection => { %>
                    <option value="<%= collection %>"><%= collection %></option>
                <% }) %>
            </select>
        </div>
        <div class="mb-3">
            <label for="開始日" class="form-label">開始日</label>
            <input type="date" id="開始日" name="開始日" class="form-control">
        </div>
        <div class="mb-3">
            <label for="終了日" class="form-label">終了日</label>
            <input type="date" id="終了日" name="終了日" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">保存</button>
    </form>
</div>
