<div class="container">
	<form action="/manager/job/new" method="POST" class="mb-3">
		<div class="mb-3">
			<label for="projectName" class="form-label">案件名 (必須)</label>
			<input type="text" id="projectName" name="projectName" class="form-control" required>
		</div>
		<div class="mb-3">
			<label for="projectAlias" class="form-label">案件略称 (必須)</label>
			<input type="text" id="projectAlias" name="projectAlias" class="form-control" required>
		</div>
		<div class="mb-3">
			<label for="staff" class="form-label">スタッフ (必須)</label>
			<select id="staff" name="staff" class="form-select" required>
				<% staffCollections.forEach(collection => { %>
					<option value="<%= collection %>"><%= collection %></option>
				<% }) %>
			</select>
		</div>
		<div class="mb-3">
			<label for="startDate" class="form-label">開始日</label>
			<input type="date" id="startDate" name="startDate" class="form-control">
		</div>
		<div class="mb-3">
			<label for="endDate" class="form-label">終了日</label>
			<input type="date" id="endDate" name="endDate" class="form-control">
		</div>
		<button type="submit" class="btn btn-success">案件を作成</button>
	</form>
</div>
