<div class="container">
	<% if (documents && documents.length > 0) { %>
		<table class="table table-bordered">
			<thead>
				<tr>
					<% Object.keys(documents[0]).forEach(field => { %>
						<% if (field !== '_id' && field !== '__v') { %>
							<th><%= field %></th>
						<% } %>
					<% }) %>
				</tr>
			</thead>
			<tbody>
				<% documents.forEach(doc => { %>
					<tr>
						<% Object.entries(doc).forEach(([key, value]) => { %>
							<% if (key !== '_id' && key !== '__v') { %>
								<td>
									<% if (['開始日', '終了日', '作成日'].includes(key) && value) { %>
										<!-- 日付を YYYY/MM/DD 形式で表示 -->
										<%= new Date(value).toLocaleDateString('ja-JP', {
											year: 'numeric',
											month: '2-digit',
											day: '2-digit'
										}) %>
									<% } else { %>
										<%= value %>
									<% } %>
								</td>
							<% } %>
						<% }) %>
					</tr>
				<% }) %>
			</tbody>
		</table>
	<% } else { %>
		<p>ドキュメントがありません。</p>
	<% } %>
</div>
