<div class="container">
<h1>システムステータス
		<a href="/admin/" class="bi bi-arrow-left-circle-fill ms-2 fs-2" style="color: #0d6efe;"></a></h1>
<p>サーバー時間: <%= status.serverTime %></p>
<p>データベース接続状態: <%= status.dbStatus %></p>

<h2>コレクション一覧</h2>
<% Object.keys(status.collections).forEach(dbName => { %>
    <h3><%= dbName %> データベース</h3>
    <ul>
        <% status.collections[dbName].forEach(collection => { %>
            <li><%= collection %></li>
        <% }) %>
    </ul>
<% }) %>

</div>
