<div class="container">
	<h2><%= collectionName %>のドキュメント一覧</h2>
	<% if (documents.length > 0) { %>
		<div class="list-group">
			<% documents.forEach(doc => { %>
				<div class="list-group-item">
					<pre><%= JSON.stringify(doc, null, 2) %></pre>
				</div>
			<% }); %>
		</div>
	<% } else { %>
		<p>ドキュメントがありません。</p>
	<% } %>
</div>
